.selectAservice{
    margin-top: 100px;
    
}


.selectAservice .service{
    display: flex;
    justify-content: center;
}

.selectAservice .service-image img{
    width: 500px;
    height: 350px;
    border-radius: 15px;
}

.selectAservice .service-description{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
    width:650px;
    margin-left:50px;
    margin-right:50px;

}



